.myRow{
    display: table-row;
}
.left, .right, .middle{
    display: table-cell;
}

#container{
    width: 200px;
    background-color: white;
    border:1px solid gray;
    padding:5px;
    box-shadow:2px 2px 10px gray;
    -moz-box-shadow:2px 2px 10px gray;
    -webkit-box-shadow:2px 2px 10px gray;
}

.table{
    display: table;
    width: 100%;

}

.pointer{
    cursor: pointer;
}

.date{
    cursor: default;
}
.hourCell{
    display: table-cell;
    padding: 5px;
    border: 1px solid gray;
    background-color: #456eff;
    cursor: pointer;
    color: white;
    text-align: center;
}
.hourCell:hover{
    background-color: darkgreen;
}
.hourCheck{
    display: table-cell;
    padding: 5px;
    border: 1px solid gray;
    background-color: red;
    cursor: not-allowed;
    color: white;
    text-align: center;
}
.hidden{
    display: none;
}
.hourSelect{
    display: table-cell;
    padding: 5px;
    border: 1px solid gray;
    background-color: darkgreen;
    cursor: pointer;
    color: white;
    text-align: center;
}
.disableHour{
    display: table-cell;
    padding: 5px;
    border: 1px solid gray;
    background-color: #919191;
    cursor: default;
    color: white;
}

.hourCellBook{
    display: table-cell;
    padding: 5px;
    border: 1px solid gray;
    background-color: #456eff;
    cursor: default;
    color: white;
    text-align: center;
}

.hourSelectBook{
    display: table-cell;
    padding: 5px;
    border: 1px solid gray;
    background-color: darkgreen;
    cursor: default;
    color: white;
    text-align: center;
}

.cellDay{
    display: table-cell;
    text-align: center;
}